@media(min-width:300px){
    .boost{
        background: var(--dark_violet);
        // negative margin to make it streatch the whole width of the screen
        // padding to add the spacing the rest of the page has
        margin: 0 -1.25em;
        padding: 4.9em 1.25em;
        text-align: center;

        position: relative;
        &__pattern{
            position: absolute;
            pointer-events: none;
            &--desktop{
                display: none;
            }
            &--mobile{
                top: 0;
                right: 0;
            }
        }
        &__heading,&__cta{
            position: relative;
            z-index: 2;
        }
        &__heading{
            color: white;
            margin-bottom: 1.5rem;
        }
        &__cta{
            border: none;
            background: var(--cyan);
            color: white;
            font-weight: bold;
            font-size: 1.5rem;
            padding: .5em 2em;
            border-radius: 2rem;

            &:hover{
                cursor: pointer;
                filter: brightness(1.1);
            }
        }
    }
}