:root{
// ### Primary
--cyan: hsl(180, 66%, 49%);
--dark_violet: hsl(257, 27%, 26%);
// ### Secondary
--red: hsl(0, 87%, 67%);
// ### Neutral
--gray: hsl(0, 0%, 75%);
--grayish_violet: hsl(257, 7%, 63%);
--dark_blue: hsl(255, 11%, 22%);
--very_dark_violet: hsl(260, 8%, 14%);
}
