@media(min-width:300px){
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        // Pos relative for the mobile menu
        position: relative;
        padding-top: 2em;
        &__logo{
            fill:#34313D;
            width: 150px;
        }
    }
}

@media(min-width:1024px){
    .header{
        justify-content: flex-start;
        &__logo{
            margin-right: 2rem;
        }
    }
}