@media(min-width:300px){
    .intro{
        padding-top: 2rem;
        text-align: center;
        margin-bottom: 5rem;
        &__illustration{
            max-width: 30rem;
        }
        &__heading{
            color:var(--dark_blue);
            font-size: 2.65rem;
            line-height: 3rem;

            margin-bottom: 1rem;
        }
        &__paragraph{
            color:var(--grayish_violet);

            margin-bottom: 1rem;
        }
        &__button{
            border: none;
            font-weight: bold;
            font-size: 1.25rem;
            padding: .75em 2em;
            border-radius: 2rem;
            background: var(--cyan);
            color: white;
            &:hover,&:active{
                opacity: 0.6;
                cursor: pointer;
            }
        }
    }
}