@media(min-width:300px){
    .link_card{
        background: white;
        border-radius: .5rem;
        padding: 1em;

        &__wrap{
            display: grid;
            gap: 1rem;
        }
        &__input_link{
            color: var(--very_dark_violet);
            margin-bottom: 1.5rem;

            position: relative;
            &::after{
                position: absolute;
                content: "";
                width: 112.5%;
                height: 1px;
                background: var(--gray);
                left: -6.25%;
                bottom: -1rem;
            }
        }
        &__output_link{
            color: var(--cyan);
            margin-bottom: 1rem;
        }
        &__cta{
            width: 100%;
            border: none;
            color: white;
            background: var(--cyan);
            padding: 0.5em 0;
            border-radius: .5rem;
            &:hover,&:active{
                cursor: pointer;
                filter: brightness(1.1);
                opacity: 0.9;
            }
        }
    }
}

@media(min-width:1024px){
    .link_card{
        display: grid;
        grid-template-columns: 1fr 300px 125px;
        gap: 20px;
        align-items: center;
        &__input_link{
            margin: 0;
            &::after{
                display: none;
            }
        }
        &__output_link{
            margin: 0;
            justify-self: end;
        }
    }
}