@media(min-width:300px){
    .menu{
        position: absolute;
        background: var(--dark_violet);
        width: 100%;
        border-radius: .5rem;
        top: 5rem;
        overflow: hidden;

        height: 0;
        opacity: 0;
        transition: all 250ms;

        // Label is the mobile menu button
        &__checkbox{
            position: absolute;
            opacity: 0;
            pointer-events: none;
        }
        &__label{
            display: block;
            width: 30px;
            height: 30px;
            display: grid;
            place-items: center center;
        }
        &__icon{
            width: 25px;
            height: 4px;
            background: var(--gray);
            position: relative;
            &::before,&::after{
                position: absolute;
                content: "";
                width: inherit;
                height: inherit;
                background: var(--gray);
                top: -8px;
            }
            &::after{
                top: 8px;
            }
        }
        ul{
            list-style: none;
            display: grid;
            place-items: center center;
            line-height: 4rem;
            padding: 1.5em 0;
        }
        &__item{
            color: white;
            background: var(--dark_violet);
            width: 80%;
            text-align: center;
            border-radius: 2rem;
            // "Resources" button
            &:nth-child(3){
                margin-bottom: 2rem;
                position: relative;
                &::after{
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 1px;
                    background: rgb(97, 97, 97);
                    bottom: -1rem;
                    left: 0;
                }
            }
            // "Sign Up button"
            &:nth-last-child(1){
                background: var(--cyan);
            }
        }

        // Checkbox Logic
        &__checkbox:checked ~ .menu{
            height: 406px;
            opacity: 1;
        }
    }
}


@media(min-width:1024px){
    .menu, .menu__checkbox:checked ~ .menu{
        position: unset;
        height: auto;
        opacity: unset;
        background: unset;
        &__label{
            display: none;
        }
        ul{
            display: flex;
            justify-content: start;
        }
        &__item{
            background: unset;
            color: var(--grayish_violet);
            text-align: unset;
            width: auto;
            margin-right: 1.5rem;
            line-height: 2;
            font-size: .95rem;
            &:hover,&:active{
                color: var(--very_dark_violet);
                cursor: pointer;
            }
            &:nth-child(3){
                margin-bottom: 0rem;
                position: relative;
                &::after{
                    display: none;
                }
            }
            &:nth-last-child(2){
                margin-left: auto;
            }
            &:nth-last-child(1){
                color: white;
                padding: 0em 1.25em;
                margin-right: 0;
                &:hover{
                    filter: brightness(1.1);
                }
            }
        }
    }
}