@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
}

body, button, input {
  font-family: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

@media screen and (min-width: 300px) {
  .page_wrap {
    max-width: 144.4rem;
    width: 100%;
    margin: auto;
    padding: 0 1.75rem;
  }
}
@media screen and (min-width: 768px) {
  .page_wrap {
    padding: 0 8rem;
  }
}
@media screen and (min-width: 1024px) {
  .page_wrap {
    padding: 0 16.5rem;
  }
}
@media screen and (min-width: 300px) {
  .header {
    padding: 2.5rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    position: relative;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    grid-template-columns: auto 1fr;
    gap: 20px;
  }
}
@media screen and (min-width: 300px) {
  .menu {
    position: absolute;
    top: 8.5rem;
    right: 0;
    background: #3b3054;
    width: 100%;
    max-width: 55rem;
    border-radius: 2rem;
    display: grid;
    place-items: center center;
    gap: 0.5rem;
    height: 0;
    overflow: hidden;
    transition: height 250ms ease, padding 250ms ease;
  }
  .menu__item {
    display: block;
    text-decoration: none;
    color: white;
    background: #3b3054;
    width: 85%;
    padding: 2rem 0;
    border-radius: 5rem;
    display: grid;
    place-items: center center;
  }
  .menu__item:hover, .menu__item:active, .menu__item:focus {
    filter: brightness(1.15);
  }
  .menu__item:nth-last-child(3) {
    margin-bottom: 3rem;
    position: relative;
  }
  .menu__item:nth-last-child(3)::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.1rem;
    background: white;
    bottom: -1.7rem;
  }
  .menu__item:nth-last-child(1) {
    background: #2acfcf;
    color: white;
  }
  .menu__label {
    width: 3.5rem;
    height: 3.5rem;
    justify-self: end;
    cursor: pointer;
    display: grid;
    place-items: center center;
  }
  .menu__icon {
    width: 100%;
    height: 0.45rem;
    background: #9e9aa7;
    position: relative;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background: inherit;
    top: -10px;
  }
  .menu__icon::after {
    top: 10px;
  }
  .menu__checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  .menu__checkbox:checked ~ .menu {
    padding: 3.5rem 0;
    height: 45.5rem;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    left: calc( 50% - 22.5rem );
  }
}
@media screen and (min-width: 1024px) {
  .menu, .menu__checkbox:checked ~ .menu {
    position: unset;
    top: unset;
    left: unset;
    height: auto;
    padding: unset;
    gap: unset;
    background: unset;
    width: unset;
    max-width: unset;
    grid-template-columns: repeat(3, -webkit-min-content) 1fr repeat(2, -webkit-min-content);
    grid-template-columns: repeat(3, min-content) 1fr repeat(2, min-content);
    gap: 2rem;
  }
  .menu__item, .menu__checkbox:checked ~ .menu__item {
    width: unset;
    background: unset;
    padding: unset;
    color: #9e9aa7;
    padding: 0.5rem 0;
    width: 100%;
  }
  .menu__item:hover, .menu__item:active, .menu__item:focus, .menu__checkbox:checked ~ .menu__item:hover, .menu__checkbox:checked ~ .menu__item:active, .menu__checkbox:checked ~ .menu__item:focus {
    filter: unset;
    color: #232127;
  }
  .menu__item:nth-last-child(3), .menu__checkbox:checked ~ .menu__item:nth-last-child(3) {
    margin: 0;
  }
  .menu__item:nth-last-child(3)::after, .menu__checkbox:checked ~ .menu__item:nth-last-child(3)::after {
    display: none;
  }
  .menu__item:nth-last-child(1), .menu__checkbox:checked ~ .menu__item:nth-last-child(1) {
    width: 12rem;
    grid-column: -1/-2;
  }
  .menu__item:nth-last-child(1):hover, .menu__item:nth-last-child(1):active, .menu__item:nth-last-child(1):focus, .menu__checkbox:checked ~ .menu__item:nth-last-child(1):hover, .menu__checkbox:checked ~ .menu__item:nth-last-child(1):active, .menu__checkbox:checked ~ .menu__item:nth-last-child(1):focus {
    filter: brightness(1.15);
    color: white;
  }
  .menu__item:nth-last-child(2), .menu__checkbox:checked ~ .menu__item:nth-last-child(2) {
    grid-column: -2/-3;
  }
  .menu__label, .menu__checkbox:checked ~ .menu__label {
    display: none;
  }
}
@media screen and (min-width: 300px) {
  .intro {
    display: grid;
    place-items: center center;
    margin-bottom: 8rem;
  }
  .intro__illustration {
    max-width: 50rem;
    width: 145%;
    margin-right: -45%;
    margin-bottom: 3rem;
  }
  .intro__text_wrap {
    text-align: center;
  }
  .intro__heading {
    font-size: 4rem;
    line-height: 4.5rem;
    color: #35323e;
    margin-bottom: 1.5rem;
  }
  .intro__paragraph {
    color: #9e9aa7;
    margin-bottom: 3.5rem;
  }
  .intro__button {
    text-decoration: none;
    background: #2acfcf;
    color: white;
    padding: 1rem 3rem;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 5rem;
  }
  .intro__button:hover, .intro__button:active, .intro__button:focus {
    opacity: 0.5;
  }
}
@media (min-width: 500px) {
  .intro__illustration {
    width: 100%;
    margin-right: 0;
  }
}
@media screen and (min-width: 1024px) {
  .intro {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  .intro__illustration {
    max-width: unset;
    position: relative;
    right: -15%;
  }
  .intro__illustration__wrap {
    overflow: hidden;
  }
  .intro__text_wrap {
    text-align: left;
    order: -1;
  }
  .intro__heading {
    font-size: 7.5rem;
    line-height: 7.5rem;
  }
  .intro__paragraph {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 300px) {
  .gray_background {
    position: absolute;
    z-index: -1;
    width: 200%;
    height: 100%;
    top: 8.45rem;
    left: -50%;
    background: #bfbfbf;
    opacity: 0.3;
  }
  .gray_background__wrap {
    position: relative;
  }

  .shorten {
    background: #3b3054;
    display: grid;
    place-items: center center;
    gap: 2rem;
    padding: 2.5rem 0;
    margin-bottom: 2rem;
    position: relative;
    border-radius: 1.25rem;
    overflow: hidden;
  }
  .shorten__error, .shorten__button {
    position: relative;
    z-index: 100;
    width: 90%;
  }
  .shorten__input, .shorten__button {
    padding: 1rem 1.5rem;
    border-radius: 0.75rem;
    border: none;
  }
  .shorten__input {
    width: 100%;
    border: 3px solid transparent;
    font-size: 1.7rem;
  }
  .shorten__input:invalid {
    box-shadow: none;
    border-color: #f46262;
    color: #f46262;
    margin-bottom: 3.5rem;
  }
  .shorten__input:invalid + .shorten__error_text {
    display: block;
  }
  .shorten__button {
    background: #2acfcf;
    color: white;
    font-weight: bold;
    font-size: 1.85rem;
    border: 3px solid transparent;
  }
  .shorten__button:hover, .shorten__button:active, .shorten__button:focus {
    filter: brightness(1.1);
    cursor: pointer;
  }
  .shorten__error_text {
    color: #f46262;
    font-style: italic;
    font-size: 1.5rem;
    position: absolute;
    bottom: 1.25rem;
    display: none;
  }
  .shorten__pattern {
    position: absolute;
    right: 0;
    top: 0;
  }
  .shorten__pattern--desktop {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .shorten {
    grid-template-columns: 1fr 17rem;
    gap: 2rem;
    padding: 4.5rem 2rem;
  }
  .shorten__error {
    width: 100%;
  }
  .shorten__input {
    margin: 0;
  }
  .shorten__input:invalid {
    box-shadow: none;
    border-color: #f46262;
    margin-bottom: 0rem;
  }
  .shorten__error_text {
    bottom: -2rem;
    left: 1rem;
  }
  .shorten__button {
    width: 100%;
    margin: 0;
    padding-right: 0;
    padding-left: 0;
  }
  .shorten__pattern--desktop {
    display: block;
    left: 0;
  }
  .shorten__pattern--mobile {
    display: none;
  }
}
@media (min-width: 300px) {
  .link_card {
    background: white;
    display: grid;
    gap: 1.5rem;
    border-radius: 1.5rem;
    padding: 1.5rem;
  }
  .link_card__wrap {
    display: grid;
    gap: 2rem;
  }
  .link_card a {
    text-decoration: none;
  }
  .link_card__input_link {
    color: #232127;
    margin-bottom: 2rem;
    position: relative;
  }
  .link_card__input_link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.1rem;
    background: lightgray;
    left: 0;
    bottom: -2rem;
  }
  .link_card__output_link {
    color: #2acfcf;
  }
  .link_card__button {
    font-weight: bold;
    font-size: 1.75rem;
    color: white;
    background: #2acfcf;
    border: none;
    border-radius: 1rem;
    padding: 1rem 0;
  }
  .link_card__button:hover, .link_card__button:active, .link_card__button:focus {
    cursor: pointer;
    filter: brightness(1.15);
  }
}
@media (min-width: 768px) {
  .link_card {
    place-content: center center;
  }
}
@media (min-width: 1024px) {
  .link_card {
    gap: 2rem;
    grid-template-columns: -webkit-min-content 1fr -webkit-min-content;
    grid-template-columns: min-content 1fr min-content;
    align-items: center;
  }
  .link_card__input_link {
    margin: 0;
  }
  .link_card__input_link::after {
    display: none;
  }
  .link_card__output_link {
    justify-self: end;
  }
  .link_card__button {
    width: 12rem;
  }
}
@media (min-width: 300px) {
  .statistics {
    padding: 10rem 0 0 0;
  }
  .statistics__intro, .statistics__card {
    text-align: center;
  }
  .statistics__intro {
    margin-bottom: 8rem;
  }
  .statistics__intro__heading {
    color: #232127;
    margin-bottom: 2rem;
    font-size: 3rem;
    letter-spacing: -0.1rem;
  }
  .statistics__intro__paragraph {
    color: #9e9aa7;
  }
  .statistics__card_wrap {
    display: grid;
    gap: 8rem;
  }
  .statistics__card {
    background: white;
    position: relative;
    padding: 8rem 1.65rem 4rem 1.65rem;
    border-radius: 0.75rem;
  }
  .statistics__card::after {
    position: absolute;
    content: "";
    width: 0.8rem;
    height: 8rem;
    background: #2acfcf;
    bottom: -8rem;
    left: calc( 50% - .4rem );
  }
  .statistics__card:nth-last-child(1)::after {
    display: none;
  }
  .statistics__card__icon_wrap {
    background: #3b3054;
    position: absolute;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    top: -4rem;
    left: calc( 50% - 4rem );
    display: grid;
    place-items: center center;
  }
  .statistics__card__heading {
    color: #232127;
    margin-bottom: 1.5rem;
  }
  .statistics__card__paragraph {
    color: #9e9aa7;
  }
}
@media (min-width: 64em) {
  .statistics__card_wrap {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 4rem;
  }
  .statistics__card:nth-last-child(1) {
    grid-column: 1/-1;
  }
}
@media (min-width: 81.875em) {
  .statistics__card_wrap {
    gap: 4rem;
  }

  .statistics__card {
    max-height: 30.2rem;
  }
  .statistics__card:nth-child(2) {
    margin-top: 4rem;
  }
  .statistics__card:nth-child(3) {
    margin-top: 8rem;
  }
  .statistics__card:nth-child(1)::after, .statistics__card:nth-child(2)::after {
    width: 8rem;
    height: 0.8rem;
    bottom: calc( 50% - .4rem);
    left: 100%;
  }
  .statistics__card:nth-child(2)::after {
    bottom: calc( 50% - .4rem + 4rem);
  }
  .statistics__card:nth-child(3) {
    grid-column: unset;
  }
}
/*# sourceMappingURL=main.css.map */