@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
}

body, button, input {
  font-family: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

@media screen and (min-width: 300px) {
  .page_wrap {
    max-width: 144.4rem;
    width: 100%;
    margin: auto;
    background: white;
    padding: 0 1.75rem;
  }
}
@media screen and (min-width: 768px) {
  .page_wrap {
    padding: 0 8rem;
  }
}
@media screen and (min-width: 1024px) {
  .page_wrap {
    padding: 0 16.5rem;
  }
}
@media screen and (min-width: 300px) {
  .header {
    padding: 2.5rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    position: relative;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    grid-template-columns: auto 1fr;
    gap: 20px;
  }
}
@media screen and (min-width: 300px) {
  .menu {
    position: absolute;
    top: 8.5rem;
    right: 0;
    background: #3b3054;
    width: 100%;
    max-width: 55rem;
    border-radius: 2rem;
    display: grid;
    place-items: center center;
    gap: 0.5rem;
    height: 0;
    overflow: hidden;
    transition: height 250ms ease, padding 250ms ease;
  }
  .menu__item {
    display: block;
    text-decoration: none;
    color: white;
    background: #3b3054;
    width: 85%;
    padding: 2rem 0;
    border-radius: 5rem;
    display: grid;
    place-items: center center;
  }
  .menu__item:hover, .menu__item:active, .menu__item:focus {
    filter: brightness(1.15);
  }
  .menu__item:nth-last-child(3) {
    margin-bottom: 3rem;
    position: relative;
  }
  .menu__item:nth-last-child(3)::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.1rem;
    background: white;
    bottom: -1.7rem;
  }
  .menu__item:nth-last-child(1) {
    background: #2acfcf;
    color: white;
  }
  .menu__label {
    width: 3.5rem;
    height: 3.5rem;
    justify-self: end;
    cursor: pointer;
    display: grid;
    place-items: center center;
  }
  .menu__icon {
    width: 100%;
    height: 0.45rem;
    background: #bfbfbf;
    position: relative;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background: inherit;
    top: -10px;
  }
  .menu__icon::after {
    top: 10px;
  }
  .menu__checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  .menu__checkbox:checked ~ .menu {
    padding: 3.5rem 0;
    height: 45.5rem;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    left: calc( 50% - 22.5rem );
  }
}
@media screen and (min-width: 1024px) {
  .menu, .menu__checkbox:checked ~ .menu {
    position: unset;
    top: unset;
    left: unset;
    height: auto;
    padding: unset;
    gap: unset;
    background: unset;
    width: unset;
    max-width: unset;
    grid-template-columns: repeat(3, -webkit-min-content) 1fr repeat(2, -webkit-min-content);
    grid-template-columns: repeat(3, min-content) 1fr repeat(2, min-content);
    gap: 20px;
  }
  .menu__item, .menu__checkbox:checked ~ .menu__item {
    width: unset;
    background: unset;
    padding: unset;
    color: #bfbfbf;
    width: 100%;
  }
  .menu__item:nth-last-child(3), .menu__checkbox:checked ~ .menu__item:nth-last-child(3) {
    margin: 0;
  }
  .menu__item:nth-last-child(3)::after, .menu__checkbox:checked ~ .menu__item:nth-last-child(3)::after {
    display: none;
  }
  .menu__item:nth-last-child(1), .menu__checkbox:checked ~ .menu__item:nth-last-child(1) {
    width: 10rem;
    padding: 0.5rem 0;
    grid-column: -1/-2;
  }
  .menu__item:nth-last-child(2), .menu__checkbox:checked ~ .menu__item:nth-last-child(2) {
    grid-column: -2/-3;
  }
  .menu__label, .menu__checkbox:checked ~ .menu__label {
    display: none;
  }
}
@media screen and (min-width: 300px) {
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8rem;
  }
  .intro__illustration {
    max-width: 50rem;
    width: 145%;
    margin: auto;
    margin-bottom: 3rem;
  }
  .intro__text_wrap {
    text-align: center;
  }
  .intro__heading {
    font-size: 4rem;
    line-height: 4.5rem;
    color: #35323e;
    margin-bottom: 1.5rem;
  }
  .intro__paragraph {
    color: #9e9aa7;
    margin-bottom: 3.5rem;
  }
  .intro__button {
    text-decoration: none;
    background: #2acfcf;
    color: white;
    padding: 1rem 3rem;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 5rem;
  }
  .intro__button:hover, .intro__button:active, .intro__button:focus {
    opacity: 0.5;
  }
}
@media screen and (min-width: 768px) {
  .intro__illustration {
    width: 100%;
  }
  .intro__heading {
    font-size: 5rem;
  }
  .intro__paragraph {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .intro {
    flex-direction: row-reverse;
    align-content: center;
  }
  .intro__illustration {
    max-width: unset;
    margin: unset;
  }
  .intro__text_wrap, .intro__illustration {
    flex: 1;
  }
  .intro__text_wrap {
    text-align: left;
  }
  .intro__heading {
    font-size: 7rem;
    line-height: 7.5rem;
  }
  .intro__paragraph {
    font-size: 2.2rem;
    padding-right: 4.5rem;
    margin-bottom: 4rem;
  }
}
@media screen and (min-width: 300px) {
  .shorten {
    background: #3b3054;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 0;
    position: relative;
    border-radius: 1.25rem;
    overflow: hidden;
  }
  .shorten__error, .shorten__button {
    position: relative;
    z-index: 100;
    width: 90%;
  }
  .shorten__input, .shorten__button {
    padding: 1rem 1.5rem;
    border-radius: 0.75rem;
    border: none;
  }
  .shorten__input {
    width: 100%;
    border: 3px solid transparent;
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
  }
  .shorten__input:invalid {
    box-shadow: none;
    border-color: #f46262;
    color: #f46262;
    margin-bottom: 3.5rem;
  }
  .shorten__input:invalid + .shorten__error_text {
    display: block;
  }
  .shorten__button {
    background: #2acfcf;
    color: white;
    font-weight: bold;
    font-size: 1.85rem;
  }
  .shorten__button:hover, .shorten__button:active, .shorten__button:focus {
    filter: brightness(1.1);
    cursor: pointer;
  }
  .shorten__error_text {
    color: #f46262;
    font-style: italic;
    font-size: 1.5rem;
    position: absolute;
    bottom: 1.25rem;
    display: none;
  }
  .shorten__pattern {
    position: absolute;
    right: 0;
    top: 0;
  }
  .shorten__pattern--desktop {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .shorten {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4.5rem 2rem;
  }
  .shorten__error {
    width: 80%;
  }
  .shorten__input {
    margin: 0;
  }
  .shorten__input:invalid {
    box-shadow: none;
    border-color: #f46262;
    margin-bottom: 0rem;
  }
  .shorten__error_text {
    bottom: -2rem;
    left: 1rem;
  }
  .shorten__button {
    margin: 0;
    width: 15%;
    padding-right: 0;
    padding-left: 0;
  }
  .shorten__pattern--desktop {
    display: block;
    left: 0;
  }
  .shorten__pattern--mobile {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */