// Mobile Portrait
@media screen and ( min-width:1px)
    .intro
        display: grid
        place-items: center center
        margin-bottom: 8rem
        &__illustration
            max-width: 50rem
            width: 145%
            margin-right: -45%
            margin-bottom: 3rem
        &__text_wrap
            text-align: center
        &__heading
            font-size: 4rem
            line-height: 4.5rem
            color: $very_dark_blue
            margin-bottom: 1.5rem
        &__paragraph
            color: $grayish_violet
            margin-bottom: 3.5rem
        &__button
            text-decoration: none
            background: $cyan
            color: white
            padding: 1rem 3rem
            font-weight: bold
            font-size: 2rem
            border-radius: 5rem
            &:hover,&:active,&:focus
                opacity: 0.5
@media (min-width:500px)
    .intro__illustration
        width: 100%
        margin-right: 0
// Tablets Portrait
@media screen and ( min-width:768px)
// Tablet Landscape / Desktop
@media screen and (min-width:1024px)
    .intro
        grid-template-columns: repeat(auto-fit,minmax(350px,1fr))
        &__illustration
            max-width: unset
            position: relative
            right: -15%
            &__wrap
                overflow: hidden
        &__text_wrap
            text-align: left
            order: -1
        &__heading
            font-size: 7.5rem
            line-height: 7.5rem
        &__paragraph
            font-size: 2.2rem