// Mobile Portrait
@media screen and ( min-width:300px  )
    .menu
        position: absolute
        top: 8.5rem
        right: 0

        background: $dark_violet
        width: 100%
        max-width: 55rem
        border-radius: 2rem

        display: grid
        place-items: center center
        gap: .5rem

        // Hides the menu
        height: 0
        overflow: hidden
        transition: height 250ms ease, padding 250ms ease
        &__item
            display: block
            text-decoration: none
            color: white
            background: $dark_violet

            width: 85%
            padding: 2rem 0
            border-radius: 5rem

            display: grid
            place-items: center center
            &:hover, &:active, &:focus
                filter: brightness(1.15)
            &:nth-last-child(3)
                margin-bottom: 3rem
                position: relative
                &::after
                    content: ""
                    position: absolute
                    width: 100%
                    height: .1rem
                    background: white
                    bottom: -1.70rem
            &:nth-last-child(1)
                background: $cyan
                color: white 
        &__label
            width: 3.5rem
            height: 3.5rem
            justify-self: end
            cursor: pointer

            display: grid
            place-items: center center
        &__icon
            width: 100%
            height: .45rem
            background: $grayish_violet
            position: relative
            &::before, &::after
                content: ""
                position: absolute
                width: inherit
                height: inherit
                background: inherit
                top: -10px
            &::after
                top: 10px
        &__checkbox
            position: absolute
            opacity: 0
            pointer-events: none
        &__checkbox:checked ~ .menu
            padding: 3.5rem 0
            height: 45.5rem
// Tablets Portrait
@media screen and ( min-width:768px  )
    .menu
        left: calc( 50% - 22.5rem )
// Tablet Landscape / Desktop
@media screen and ( min-width:1024px  )
    .menu, .menu__checkbox:checked ~ .menu
        // Removing all of the mobile styling
        position: unset
        top: unset
        left: unset
        height: auto
        padding: unset
        gap: unset
        background: unset
        width: unset
        max-width: unset
        // the desktop styling starts here
        grid-template-columns: repeat(3,min-content) 1fr repeat(2,min-content)
        gap: 2rem
        &__item
            width: unset
            background: unset
            padding: unset

            color: $grayish_violet
            padding: .5rem 0
            width: 100%
            &:hover, &:active &:focus
                filter: unset
                color: $very_dark_violet
            &:nth-last-child(3)
                margin: 0
                &::after
                    display: none
            &:nth-last-child(1)
                width: 12rem
                grid-column: -1/-2

                &:hover, &:active &:focus
                    filter: brightness(1.15)
                    color: white
            &:nth-last-child(2)
                grid-column: -2/-3   
        &__label
            display: none
