
mixin statistics_card(icon, heading, paragraph)
    .statistics__card
        .statistics__card__icon_wrap
            img.statistis__card__icon(src= icon, alt="icon")
        h1.statistics__card__heading=heading
        p.statistics__card__paragraph=paragraph
